<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentController</servlet-name>
        <servlet-class>controller.DepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentDetailController</servlet-name>
        <servlet-class>controller.DepartmentDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentListController</servlet-name>
        <servlet-class>controller.StudentListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerListController</servlet-name>
        <servlet-class>controller.SellerListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudentController</servlet-name>
        <servlet-class>controller.ViewStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSellerController</servlet-name>
        <servlet-class>controller.ViewSellerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusStudent</servlet-name>
        <servlet-class>controller.ChangeStatusStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusSeller</servlet-name>
        <servlet-class>controller.ChangeStatusSeller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticateServlet</servlet-name>
        <servlet-class>controller.AuthenticateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusDetailServlet</servlet-name>
        <servlet-class>controller.BusDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass_InputEmailServlet</servlet-name>
        <servlet-class>controller.ForgotPass_InputEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass_InputNewPassServlet</servlet-name>
        <servlet-class>controller.ForgotPass_InputNewPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClubListController</servlet-name>
        <servlet-class>controller.ClubListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusPagingServlet</servlet-name>
        <servlet-class>controller.BusPagingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHostelController</servlet-name>
        <servlet-class>controller.AddHostelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindDistrictController</servlet-name>
        <servlet-class>controller.FindDistrictController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHostelController</servlet-name>
        <servlet-class>controller.EditHostelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HostelController</servlet-name>
        <servlet-class>controller.ListHostelbySellerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllHostelController</servlet-name>
        <servlet-class>controller.ListAllHostelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HostelDetailController</servlet-name>
        <servlet-class>controller.HostelDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHostel</servlet-name>
        <servlet-class>controller.DeleteHostel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSellerProfile</servlet-name>
        <servlet-class>controller.UpdateSellerProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteImageController</servlet-name>
        <servlet-class>controller.DeleteImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRestaurantController</servlet-name>
        <servlet-class>controller.AddRestaurantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListRestaurantBySeller</servlet-name>
        <servlet-class>controller.ListRestaurantBySeller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRestaurantController</servlet-name>
        <servlet-class>controller.EditRestaurantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRestaurantController</servlet-name>
        <servlet-class>controller.DeleteRestaurantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodController</servlet-name>
        <servlet-class>controller.AddFoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFoodController</servlet-name>
        <servlet-class>controller.EditFoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFoodController</servlet-name>
        <servlet-class>controller.DeleteFoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantListController</servlet-name>
        <servlet-class>controller.RestaurantListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StarVotingHostelController</servlet-name>
        <servlet-class>controller.StarVotingHostelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportRestaurantController</servlet-name>
        <servlet-class>controller.ReportRestaurantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllReportHostelController</servlet-name>
        <servlet-class>controller.ListAllReportHostelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportHostelController</servlet-name>
        <servlet-class>controller.ReportHostelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllReportRestaurantController</servlet-name>
        <servlet-class>controller.ListAllReportRestaurantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllRestaurantController</servlet-name>
        <servlet-class>controller.ListAllRestaurantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartVoteController</servlet-name>
        <servlet-class>controller.ChartVoteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentProfile</servlet-name>
        <servlet-class>controller.UpdateStudentProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdminProfile</servlet-name>
        <servlet-class>controller.UpdateAdminProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentRestaurantController</servlet-name>
        <servlet-class>controller.CommentRestaurantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StarVotingRestaurantController</servlet-name>
        <servlet-class>controller.StarVotingRestaurantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClubProfile</servlet-name>
        <servlet-class>controller.UpdateClubProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteImageResController</servlet-name>
        <servlet-class>controller.DeleteImageResController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFoodImageController</servlet-name>
        <servlet-class>controller.DeleteFoodImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartVoteController_res</servlet-name>
        <servlet-class>controller.ChartVoteController_res</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentController</servlet-name>
        <url-pattern>/department</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentDetailController</servlet-name>
        <url-pattern>/detaildepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentListController</servlet-name>
        <url-pattern>/StudentListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerListController</servlet-name>
        <url-pattern>/SellerListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudentController</servlet-name>
        <url-pattern>/ViewStudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSellerController</servlet-name>
        <url-pattern>/ViewSellerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusStudent</servlet-name>
        <url-pattern>/ChangeStatusStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusSeller</servlet-name>
        <url-pattern>/ChangeStatusSeller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticateServlet</servlet-name>
        <url-pattern>/AuthenticateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusDetailServlet</servlet-name>
        <url-pattern>/BusDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass_InputEmailServlet</servlet-name>
        <url-pattern>/ForgotPass_InputEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass_InputNewPassServlet</servlet-name>
        <url-pattern>/ForgotPass_InputNewPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClubListController</servlet-name>
        <url-pattern>/ClubListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusPagingServlet</servlet-name>
        <url-pattern>/BusPagingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHostelController</servlet-name>
        <url-pattern>/addhostel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindDistrictController</servlet-name>
        <url-pattern>/findDistrict</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHostelController</servlet-name>
        <url-pattern>/edithostel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HostelController</servlet-name>
        <url-pattern>/hostellist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllHostelController</servlet-name>
        <url-pattern>/listallhostels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HostelDetailController</servlet-name>
        <url-pattern>/detailhostel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHostel</servlet-name>
        <url-pattern>/deletehostel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSellerProfile</servlet-name>
        <url-pattern>/UpdateSellerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteImageController</servlet-name>
        <url-pattern>/deleteImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRestaurantController</servlet-name>
        <url-pattern>/AddRestaurantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListRestaurantBySeller</servlet-name>
        <url-pattern>/ListRestaurantBySeller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRestaurantController</servlet-name>
        <url-pattern>/EditRestaurantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRestaurantController</servlet-name>
        <url-pattern>/DeleteRestaurantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodController</servlet-name>
        <url-pattern>/AddFoodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFoodController</servlet-name>
        <url-pattern>/EditFoodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFoodController</servlet-name>
        <url-pattern>/DeleteFoodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantListController</servlet-name>
        <url-pattern>/RestaurantListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StarVotingHostelController</servlet-name>
        <url-pattern>/starHostel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportRestaurantController</servlet-name>
        <url-pattern>/ReportRestaurantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllReportHostelController</servlet-name>
        <url-pattern>/ListAllReportHostelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportHostelController</servlet-name>
        <url-pattern>/ReportHostelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllReportRestaurantController</servlet-name>
        <url-pattern>/ListAllReportRestaurantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllRestaurantController</servlet-name>
        <url-pattern>/ListAllRestaurantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartVoteController</servlet-name>
        <url-pattern>/ChartVoteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentProfile</servlet-name>
        <url-pattern>/UpdateStudentProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdminProfile</servlet-name>
        <url-pattern>/UpdateAdminProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommentHostelController</servlet-name>
        <servlet-class>controller.CommentHostelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentHostelController</servlet-name>
        <url-pattern>/commentHostel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentRestaurantController</servlet-name>
        <url-pattern>/commentRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StarVotingRestaurantController</servlet-name>
        <url-pattern>/starRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClubProfile</servlet-name>
        <url-pattern>/UpdateClubProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteImageResController</servlet-name>
        <url-pattern>/deleteimgres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFoodImageController</servlet-name>
        <url-pattern>/deleteFoodImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartVoteController_res</servlet-name>
        <url-pattern>/ChartVoteController_res</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
